<div class="header bg-default pb-6">
   <div class="container-fluid">
      <div class="header-body">
         <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
               <h6 class="h2 text-white d-inline-block mb-0">Dashboard</h6>
            </div>
         </div>
         <!-- Card stats -->
         <div class="row">

            <div class="col-xl-3 col-md-6">
               <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                     <div class="row">
                        <div class="col">
                           <h5 class="card-title text-uppercase text-muted mb-0">Total Lobitos</h5>
                           <span class="h2 font-weight-bold mb-0"><%= @lobitos.count %></span>
                        </div>
                        <div class="col-auto">
                           <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                              <i class="ni ni-chart-pie-35"></i>
                           </div>
                        </div>
                     </div>
                     <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"><i class="fa fa-arrow-up"> <%= @lobitos.count %></i></span>
                        <span class="text-nowrap">Lobitos Activos</span>
                     </p>
                  </div>
               </div>
            </div>

            <div class="col-xl-3 col-md-6">
               <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                     <div class="row">
                        <div class="col">
                           <h5 class="card-title text-uppercase text-muted mb-0">Total Juniores</h5>
                           <span class="h2 font-weight-bold mb-0"><%= @juniores.count %></span>
                        </div>
                        <div class="col-auto">
                           <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                              <i class="ni ni-money-coins"></i>
                           </div>
                        </div>
                     </div>
                     <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"><i class="fa fa-arrow-up"> <%= @juniores.count %></i></span>
                        <span class="text-nowrap">Juniores Activos</span>
                     </p>
                  </div>
               </div>
            </div>

            <div class="col-xl-3 col-md-6">
               <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                     <div class="row">
                        <div class="col">
                           <h5 class="card-title text-uppercase text-muted mb-0">Total Seniores</h5>
                           <span class="h2 font-weight-bold mb-0"><%= @seniores.count %></span>
                        </div>
                        <div class="col-auto">
                           <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                              <i class="ni ni-chart-bar-32"></i>
                           </div>
                        </div>
                     </div>
                     <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"><i class="fa fa-arrow-up"> <%= @seniores.count %></i></span>
                        <span class="text-nowrap">Seniores activos</span>
                     </p>
                  </div>
               </div>
            </div>


            <div class="col-xl-3 col-md-6">
               <div class="card card-stats">
                  <!-- Card body -->
                  <div class="card-body">
                     <div class="row">
                        <div class="col">
                           <h5 class="card-title text-uppercase text-muted mb-0">Total Caminheiros</h5>
                           <span class="h2 font-weight-bold mb-0"><%= @caminheiros.count %></span>
                        </div>
                        <div class="col-auto">
                           <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                              <i class="ni ni-active-40"></i>
                           </div>
                        </div>
                     </div>
                     <p class="mt-3 mb-0 text-sm">
                        <span class="text-success mr-2"><i class="fa fa-arrow-up"> <%= @caminheiros.count %></i></span>
                        <span class="text-nowrap">Caminheiros Activos</span>
                     </p>
                  </div>
               </div>
            </div>

         </div>
      </div>
   </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
</div>
