<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @section.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @section.slug %>
</p>

<p>
  <strong>Start age:</strong>
  <%= @section.start_age %>
</p>

<p>
  <strong>End age:</strong>
  <%= @section.end_age %>
</p>

<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>
