  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="/">
        <img src="/assets/icon.png" class="navbar-brand-img" style="max-height: 9rem;">
      </a>

      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">


        <!-- Navigation -->
        <ul class="navbar-nav">
        
          <li class="nav-item  active ">
            <a class="nav-link  active " href="/">
              <i class="ni ni-tv-2 text-primary"></i> Dashboard
            </a>
          </li>

          <% if current_user.super_admin? %>
            
            <li class="nav-item">
              <%= link_to usuarios_path, class: "nav-link" do %>
                <i class="ni ni-planet text-blue"></i> UTILIZADORES
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to regioes_path, class: "nav-link" do %>
                <i class="ni ni-planet text-blue"></i> REGIÕES
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to agrupamentos_path, class: "nav-link" do %>
                <i class="ni ni-planet text-blue"></i> AGRUPAMENTOS
              <% end %>
            </li>            
          <% end %>

          <% if current_user.admin? && session[:session_admin] %>
            <li class="nav-item">
              <%= link_to agrupamento_primeira_seccao_path(@agrupamento), class: "nav-link" do %>
                <i class="ni ni-planet text-blue"></i> I SECÇÃO
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to agrupamento_segunda_seccao_path(@agrupamento), class: "nav-link" do %>
                <i class="ni ni-planet text-blue"></i> II SECÇÃO
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to agrupamento_terceira_seccao_path(@agrupamento), class: "nav-link" do %>
                <i class="ni ni-planet text-blue"></i> III SECÇÃO
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to agrupamento_quarta_seccao_path(@agrupamento), class: "nav-link" do %>
                <i class="ni ni-planet text-blue"></i> IV SECÇÃO
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to agrupamento_primeira_seccao_path(@agrupamento), class: "nav-link" do %>
                <i class="ni ni-planet text-blue"></i> DIRIGENTES
              <% end %>
            </li>
          <% end %>



        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->

        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <%= link_to destroy_user_session_url, method: :delete, class: "nav-link" do %>
              <i class="ni ni-spaceship"></i> Terminar sessão
            <% end %>
          </li>

        </ul>

      </div>
    </div>
  </nav>
