<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
        
          <div class="card">

            <div class="card-header" style="background-color: #b39fd4;">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0"><%= @scout.id.present? ? "Actulizar Informações" : "Registar Escuteiro" %></h3>
                    </div>
                    <div class="col-4 text-right">

                    </div>
                </div>
            </div>
            
            <div class="card-body">
                <%= simple_form_for(@scout) do |f| %>
                    <%= f.error_notification %>
                    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

                    <h6 class="heading-small text-muted mb-4">Informações do Escuteiro</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Nome completo</label>
                                    <%= f.input :name, label: false %>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Tipo de identificação</label>
                                    <%= f.input :identification_type, :as => :select, :collection => Scout.identification_types.keys.map {|u| [u.titleize, u]}, label: false %>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Data de nascimento</label>
                                    <%= f.input :birth_at, as: :date, start_year: Date.today.year - 50, end_year: Date.today.year, order: [:day, :month, :year], input_html: { type: 'date' }, label: false %>
                                </div>
                            </div>
                            
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Contacto</label>
                                    <%= f.input :cell_phone1, label: false %>
                                </div>

                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Número de identificação</label>
                                    <%= f.input :identification_number, label: false %>
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Data de Ingresso no movimento</label>
                                    <%= f.input :started_at, as: :date, start_year: Date.today.year - 51, end_year: Date.today.year, order: [:day, :month, :year], label: false %>
                                </div>

                            </div>
                        </div>
                    </div>

                    <hr class="my-4" />

                    <h6 class="heading-small text-muted mb-4">Informações do encarregado</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Nome do encarregado</label>
                                    <%= f.input :parent_name, label: false %>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-username">Contacto do encarregado</label>
                                    <%= f.input :cell_phone2, label: false %>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="pl-lg-4">
                        <%= f.button :submit, "Registar", class: "btn btn-sm btn-success" %>
                        <%= link_to 'Cancelar', dashboard_path, class: "btn btn-sm btn-primary" %>
                    </div>
                <% end %>
            </div>

        </div>
    </div>
</div>




