
<!-- Main Container -->
<main id="main-container">

    <div class="bg-image" style="background-image: url(<%= picture_home_path %>);">
        <div class="hero-static bg-white-95">
            <div class="content">
            
                <div class="row justify-content-center mt-8">
                    <div class="col-md-8 col-lg-6 col-xl-3">
                        <!-- Sign In Block -->
                        <div class="block block-themed block-fx-shadow mb-0">
                            <div class="block-header">
                                <h3 class="block-title"><%= link_to 'Home', root_path %></h3>
                                <div class="block-options">
                                    <a class="btn-block-option font-size-sm" href="#">Esqueceu senha?</a>
                                   
                                </div>
                            </div>
                            <div class="block-content">
                                <div class="p-sm-3 px-lg-4 py-lg-5">
                                    
                                    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: "js-validation-signin") do |f| %>

                                        <div class="py-3">
                                            <div class="form-group">
                                                <%= f.input :email, autofocus: true, autocomplete: "email", placeholder: "usuario@email.com" %>
                                            </div>

                                            <div class="form-group">
                                                <%= f.input :password, placeholder: "****" %>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-block btn-dark">
                                                    <i class="fa fa-fw fa-sign-in-alt mr-1"></i> Login
                                                </button>
                                            </div>
                                        </div>

                                    <% end %>

                                </div>
                            </div>
                        </div>
                        <!-- END Sign In Block -->
                    </div>
                </div>
            </div>
            <div class="content content-full font-size-sm text-muted text-center">
                <strong>Kambandu 2.1.0</strong> &copy; <span data-toggle="year-copy"></span>
            </div>
        </div>
    </div>

</main>

