<!-- Main content -->
<div class="main-content">
  <!-- Header -->
  <div class="header bg-def pt-5 pb-7">
    <div class="container">
      <div class="header-body">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="pr-5">
              <%= simple_form_for :search, url: scout_search_path, method: "GET", html: { class: 'form-inline' } do |f| %>
                <%= f.input :code, input_html: {value: ""}, label: false, placeholder: "Nº de Registo" %>   
                <%= f.submit 'Buscar', class: "btn btn-primary btn-sm", style: "padding: 7px 20px; font-size: 20px;" %>
                <a href="<%= scout_search_path %>" class="btn btn-neutral my-2">Limpar</a>
              <% end %>

              <hr>

              <% unless params["search"] %>
                <h1 class="display-4 font-weight-light mb-0">Adicione nº de registo valido</h1>
              <% end %>

              <% if @scout.blank? && params["search"] %>
                <h1 class="display-4 font-weight-light mb-0">Registo Não encotrado</h1>
              <% end %>

              <% if @scout.present? %>
                <%= render 'scout_info' %>
              <% end %>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="h3">Dados - Ano escutista</h5>
                <hr>

                <% if @scout.present? %>
                  <% if @scout.current_confirmation.present? %>
                    <p><strong>Cargo atual:</strong> <%= @scout.current_confirmation.position.name %></p>
                    <p><strong>Secção atual:</strong> <%= @scout.current_confirmation.section.name %></p>
                    <p><strong>Ano escutista:</strong> <%= @scout.current_confirmation.year_at&.strftime("%Y") %></p>
                    <p><strong>Data da Confirmação:</strong> <%= @scout.current_confirmation.created_at&.strftime("%d/%m/%Y") %></p>
                  <% else %>
                    <h1 class="display-4 font-weight-light mb-0">Escuteiro não confirmado</h1>
                  <% end %>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
