<p id="notice"><%= notice %></p>

<h1>Subscrytion Years</h1>

<table>
  <thead>
    <tr>
      <th>Year at</th>
      <th>Scout</th>
      <th>Section</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subscrytion_years.each do |subscrytion_year| %>
      <tr>
        <td><%= subscrytion_year.year_at %></td>
        <td><%= subscrytion_year.scout_id %></td>
        <td><%= subscrytion_year.section %></td>
        <td><%= subscrytion_year.slug %></td>
        <td><%= link_to 'Show', subscrytion_year %></td>
        <td><%= link_to 'Edit', edit_subscrytion_year_path(subscrytion_year) %></td>
        <td><%= link_to 'Destroy', subscrytion_year, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Subscrytion Year', new_subscrytion_year_path %>
