<%= form_with(model: agrupamento, local: true) do |form| %>
  <% if agrupamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agrupamento.errors.count, "error") %> prohibited this agrupamento from being saved:</h2>

      <ul>
        <% agrupamento.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :numero %>
    <%= form.number_field :numero %>
  </div>

  <div class="field">
    <%= form.label :lema %>
    <%= form.text_field :lema %>
  </div>

  <div class="field">
    <%= form.label :regiao_id %>
    <%= form.text_field :regiao_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
