<p id="notice"><%= notice %></p>

<h1>Agrupamentos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Numero</th>
      <th>Lema</th>
      <th>Regiao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agrupamentos.each do |agrupamento| %>
      <tr>
        <td><%= agrupamento.nome %></td>
        <td><%= agrupamento.numero %></td>
        <td><%= agrupamento.lema %></td>
        <td><%= agrupamento.regiao_id %></td>
        <td><%= link_to 'Show', agrupamento %></td>
        <td><%= link_to 'Edit', edit_agrupamento_path(agrupamento) %></td>
        <td><%= link_to 'Destroy', agrupamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agrupamento', new_agrupamento_path %>
