


<li class="nav-main-item">
    <%= link_to customers_path, class: "nav-main-link" do %>
        <i class="nav-main-link-icon si si-users"></i>
        <span class="nav-main-link-name">Clientes</span>
    <% end %>
</li>


<li class="nav-main-item">
    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
        <i class="nav-main-link-icon si si-settings"></i>
        <span class="nav-main-link-name">Operações</span>
    </a>
    <ul class="nav-main-submenu">
        <li class="nav-main-item">
            <%= link_to products_path, class: "nav-main-link" do %>
                <i class="nav-main-link-icon si si-badge"></i>
                <span class="nav-main-link-name">Productos/Serviços</span>
            <% end %>
        </li>

        <li class="nav-main-item">
            <%= link_to taxes_path, class: "nav-main-link" do %>
                <i class="nav-main-link-icon si si-badge"></i>
                <span class="nav-main-link-name">Impostos</span>
            <% end %>
        </li>

        <li class="nav-main-item">
            <%= link_to "#", class: "nav-main-link" do %>
                <i class="nav-main-link-icon si si-badge"></i>
                <span class="nav-main-link-name">Gerar SAFT</span>
            <% end %>
        </li>
    </ul>
</li>


<li class="nav-main-item">
    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
        <i class="nav-main-link-icon si si-settings"></i>
        <span class="nav-main-link-name">Facturação</span>
    </a>
    <ul class="nav-main-submenu">

        <li class="nav-main-item">
            <%= link_to new_invoice_path, class: "nav-main-link" do %>
                <i class="nav-main-link-icon si si-badge"></i>
                <span class="nav-main-link-name">Registar Factura</span>
            <% end %>
        </li>

        <li class="nav-main-item">
            <%= link_to invoices_path, class: "nav-main-link" do %>
                <i class="nav-main-link-icon si si-badge"></i>
                <span class="nav-main-link-name">Lista das Facturas</span>
            <% end %>
        </li>

        <li class="nav-main-item">
            <%= link_to receipts_path, class: "nav-main-link" do %>
                <i class="nav-main-link-icon si si-badge"></i>
                <span class="nav-main-link-name">Lista dos Reibos</span>
            <% end %>
        </li>

    </ul>
</li>



<li class="nav-main-item">
    <%= link_to collaborators_path, class: "nav-main-link" do %>
        <i class="nav-main-link-icon si si-users"></i>
        <span class="nav-main-link-name">Colaboradores</span>
    <% end %>
</li>

<li class="nav-main-item">
    <%= link_to "#", class: "nav-main-link" do %>
        <i class="nav-main-link-icon si si-screen-desktop"></i>
        <span class="nav-main-link-name">Equipamentos</span>
    <% end %>
</li>


<li class="nav-main-item">
    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
        <i class="nav-main-link-icon si si-settings"></i>
        <span class="nav-main-link-name">Sistema</span>
    </a>
    <ul class="nav-main-submenu">

        <li class="nav-main-item">
            <%= link_to documents_path, class: "nav-main-link" do %>
                <i class="nav-main-link-icon si si-badge"></i>
                <span class="nav-main-link-name">Documentos</span>
            <% end %>
        </li>

        <li class="nav-main-item">
            <%= link_to serials_path, class: "nav-main-link" do %>
                <i class="nav-main-link-icon si si-badge"></i>
                <span class="nav-main-link-name">Series</span>
            <% end %>
        </li>

        <li class="nav-main-item">
            <%= link_to payment_options_path, class: "nav-main-link" do %>
                <i class="nav-main-link-icon si si-badge"></i>
                <span class="nav-main-link-name">Meios de pagamentos</span>
            <% end %>
        </li>



        
    </ul>
</li>

<li class="nav-main-heading">Dados mestres</li>
<li class="nav-main-item">
    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="false" href="#">
        <i class="nav-main-link-icon si si-settings"></i>
        <span class="nav-main-link-name">Configurações</span>
    </a>
    <ul class="nav-main-submenu">
        <% if config.present? %>
            <li class="nav-main-item">
                <%= link_to setting_path(config), class: "nav-main-link" do %>
                    <i class="nav-main-link-icon si si-settings"></i>
                    <span class="nav-main-link-name">Definições</span>
                <% end %>
            </li>
        <% end %>

        <li class="nav-main-item">
            <%= link_to contact_types_path, class: "nav-main-link" do %>
                <i class="nav-main-link-icon si si-phone"></i>
                <span class="nav-main-link-name">Tipo de contactos</span>
            <% end %>
        </li>

        <li class="nav-main-item">
            <%= link_to skills_path, class: "nav-main-link" do %>
                <i class="nav-main-link-icon si si-badge"></i>
                <span class="nav-main-link-name">competências</span>
            <% end %>
        </li>

        <li class="nav-main-item">
            <%= link_to positions_path, class: "nav-main-link" do %>
                <i class="nav-main-link-icon si si-briefcase"></i>
                <span class="nav-main-link-name">Funções</span>
            <% end %>
        </li>

    </ul>
</li>

<li class="nav-main-item">
    <%= link_to "#", class: "nav-main-link" do %>
        <i class="nav-main-link-icon si si-users"></i>
        <span class="nav-main-link-name">Utilizadores</span>
    <% end %>
</li>