<!DOCTYPE html>
<html>
  <head>
    <title>Liz azul</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body class="<%= @color_bg %>">
    <% if user_signed_in? %>
      <%= render 'layouts/menu/sidbar' %>
      <div class="main-content">
        <%= render 'layouts/menu/navbar' %>
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

    
    <script>
      $('.datepicker').datepicker({
      });
    </script>
    
  </body>
</html>
