<!DOCTYPE html>
<html>
  <head>
    <title>LizAzul</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
        <% if user_signed_in? %>
            <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed">
                <%= render 'layouts/partials/aside' %>
                <%= render 'layouts/partials/sidbar' %>
                <%= render 'layouts/partials/header' %>

                <main id="main-container">
                    <%= yield %>
                </main>
            </div>
        <% else %>
            <%= yield %>
        <% end %>

        <script src="/templete/assets/js/oneui.core.min.js"></script>
        <script src="/templete/assets/js/oneui.app.min.js"></script>

        <% if true %>
            <script src="/templete/assets/js/plugins/chart.js/Chart.bundle.min.js"></script>
            <script src="/templete/assets/js/pages/be_pages_dashboard.min.js"></script>

            <script src="/templete/assets/js/plugins/jquery-validation/jquery.validate.min.js"></script>
            <script src="/templete/assets/js/pages/op_auth_signin.min.js"></script>
            <script src="/templete/assets/js/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
            <script src="/templete/assets/js/plugins/select2/js/select2.full.min.js"></script>

            <!-- Page JS Plugins -->
            <script src="/templete/assets/js/plugins/easy-pie-chart/jquery.easypiechart.min.js"></script>
            <script src="/templete/assets/js/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>

            <!-- Page JS Code -->
            <script src="/templete/assets/js/pages/be_comp_charts.min.js"></script>

            <!-- Page JS Helpers (Easy Pie Chart + jQuery Sparkline Plugins) -->
            <script>jQuery(function(){ One.helpers(['easy-pie-chart', 'sparkline']); });</script>
            <script>jQuery(function(){ One.helpers(['datepicker', 'select2']); });</script>
        <% end %>

    </body>


</html>
